@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-LeeSeoyun: 'LeeSeoyun', sans-serif;
  --background: #575757;
}

body {
  font-family: var(--font-LeeSeoyun);
  background: var(--background);
}
