@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-ChosunNm: 'ChosunNm', sans-serif;
  --font-SoBangGwan: 'SoBangGwan', sans-serif;
  --font-NotoSansKR: 'NotoSansKR', sans-serif;
  --background: #444444;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-ChosunNm);
  background: var(--background);
}

.font-SoBangGwan {
  font-family: var(--font-SoBangGwan);
}

.font-NotoSansKR {
  font-family: var(--font-NotoSansKR);
}
